@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
* {
  box-sizing: border-box;
  /* &:before, &:after {
    box-sizing: border-box;
  } */
}
body {
  /* height: 500vh; */
  /* background: #222; */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #FFF;
}
.container {
  max-width: 60em;
  min-width: 45em;
  margin: 0 auto;
  padding: 0 2em;
}
nav {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  top: 0;
  z-index: 3;
  
}
 ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  float: right;
}
li {
  display: inline-block;
  padding: 2em;
  text-align: center;
  transition: all .2s;
}
 li :last-child {
    padding-right: 0;
  }
  nav ul li a {
    color: #FFF;
    text-decoration: none;
    transition: all .3s;
  }
  nav ul li  a  :hover {
      color: #DDD;
    }
#icon {
  display: inline-block;
  padding-top: .7em;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}
#nav-bg {
  background: #222;
  position: fixed;
  height: 5em;
  width: 100%;
  top: 0;
  z-index: 1;
}

header {
  position: relative;
  /* // background-color: #FD7777; */
 /* background-image: url("https://images.pexels.com/photos/70912/pexels-photo-70912.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
  padding: 10em 0 8em;
  z-index: 2;
  background-image:url("https://images.pexels.com/photos/5976778/pexels-photo-5976778.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover ;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 750px;
}
header h1 {
  font-size: 8em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 100px;
}
#about {
  background: #E7E3DA;
  height: 70em;
  padding: 1em 0;
  text-align: center;
  /* align-content: center; */
  
}
#about p {
  line-height: 2em;
  font-size: 1.4em;
  margin: 0;
  color: #222;
}
#about h2 {
  font-size: 8em;
  text-transform: uppercase;
  text-align: center;
  color:rgba(39, 9, 9, 0.87);
}
.continer-partner {
  width: 80%;
  background-color: red;
}
.row{
  width: 100%;
  /* back */
}
/* .row img{
  width: 33%;
  /* background-color: red; 
  height: 100%;

}
.ferrari{
  height: 273px;
} */

.round-img{
  width:33%;
  float:left;
  margin: 0 auto;
}
.round-img img{
  width:25% ;
  /* border-radius: ; */
  /* float: left; */
}
.test{
  height: 10px;
  background-color: black;

}
.clr{
  clear: both;
}
.cinma{
  clear: both;
  width: 100%;
  background-color: black;
}

#myVideo{
  width: 70%;
  margin-left:300px;
  /* text-align: center; */
}


.site-footer {
  /* margin-top: 100px; 
	position: relative;
	background-color:#1A1F24;
	width: 100%;
    top: 620px;	
	bottom: 0; 
    display: block; */
    margin-top: 0;
    position: relative;
    background-color: #1A1F24;
    width: 100%;
    top: 22px;
    bottom: 0;
    display: block;
}

.site-footer .container {
	max-width: 85%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	padding-top: 20px;
}

.site-footer .container h1 {
	font-size: 40px;
}

.site-footer .container h2 {
	font-size: 40px;
	float: right;
}

.site-footer .grid-container a {
	color: #A2845C;
 
	text-decoration: none;
	font-size: 15px;
	line-height: 16.25px;
}

.site-footer .grid-item {
	padding: 10px;
	color: #A2845C;
}


.site-footer .grid-container .inner-grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	text-align: left;
}

.site-footer .container hr { 
	display: block; 
	height: 1px;
	border: 0; border-top: 1px solid #FFF;
	margin: 1px; 
	padding: 0; 
}

.site-footer .container p {
	font-size: 14px;
	text-align: right;
	color: white;
	font-weight: 500;
}

.site-footer .container .logo-img {
	width: 180px;
	height: 140px;
	cursor: pointer;
}

.site-footer .grid-container .grid-item .social-buttons {
	padding-top: 20px;
}

.site-footer .grid-container .grid-item .social-buttons a {
	display: inline-flex;
	text-decoration: none;
	font-size: 30px;
	width: 60px;
	height: 60px;
	color: #1A1F24;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0 8px;
    color: #FFF;
}


.site-footer .grid-container .grid-item .social-buttons a i{
	transition: 0.3s ease-in;
    text-align: center;
}

.site-footer .grid-container .grid-item .social-buttons a:hover i {
	background: linear-gradient(45deg,#A2845C,#A2845C);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transform: scale(1.5);
    /* color: #FFF; */
}

.circle-icon {
    /* background: #A2845C; */
    padding:12px;
    /* border-radius: 50%; */
} 
.fa-facebook {
    /* padding: 10px 14px; */
    transition: .5s;
    /* background-color: #322f30; */
}



.fa-twitter {
    
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

#bugatti{
  font-size: xx-large;
  font-weight: 700;
  color: black;
}
.azzam{
  
}